code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

HTML {
  height: 100%;
}

BODY {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box
}

#root {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

#left {
  flex-shrink: 0;
}

#top-left {
  flex-shrink: 0;
}

#top-right {
  flex-shrink: 0;
}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
}